{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href='{% static "hello.css" %}'>

    <title>Entry</title>
</head>

<body style="background-color:mediumblue">
    <header>
        <div class='container-fluid'>

            <nav class="navbar navbar-light bg-light row">
                <a class="navbar-brand col" href="/">
                    <img src='{% static "logo.png" %}' width="60" height="60" alt="whotnews icon">
                    <span class="text-danger" style="font-weight: 800;">AMERICA ELECTION</span>
                </a>
                <div>
                    <img src='{% static "us.png" %}' width="200" height="" alt="ELECTION IS ONGOING">
                    <br>

                </div>
            </nav>

        </div>
        <div class="pt-1 py-1 bg-success">

            <nav class="navbar navbar-expand-md navbar-dark bg-danger">
                <div class=" navbar-text d-flex justify-content-between">
                    <span>welcome {{ user }}</span>
            </div>
            
        </nav>
    </div>
</header>

<div class='container-fluid'>
    <span class=" text-danger btn-light align-content-end">sign in to make a vote..</span>
    <p style="font-weight: bold;">Remember you can only vote once  </p>
        <div class='row justify-content-center'>
            <main class='col-md-8' style="background-color: rgb(60, 65, 117);">
                <div class=" alert-danger">
                    <form method="post" class=" ">
                        {% csrf_token %}
                        <br>
                        {{ form.as_p }}
                        <br>
    
                        <button class="btn btn-primary " name="submit" type="submit">
                            Enter
                        </button>
                    </form>
                </div>

            </main>

        </div>
    </div>
    <!-- page container ends -->
    <!-- Bootstrap CSS -->
    <br>
    <br>
    <br>
    <footer class='bg-danger'>

        <nav class="navbar navbar-expand navbar-dark bg-dark fixed-bottom ">
            <span class="bg=light">quadratoms 2020</span>
          </nav>
          
    </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src='{% static "jquery.js" %}'></script>
    <script src='{% static "proper.js" %}'></script>
    <script src='{% static "hello.js" %}'></script>
</body>

</html>