{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href='{% static "hello.css" %}'>

    <title>{% block title %} {% endblock title %}</title>
</head>

<body style="background-color:mediumblue">
    <header>
        <div class='container-fluid'>

            <nav class="navbar navbar-light bg-light row">
                <a class="navbar-brand col" href="/">
                    <img src='{% static "logo.png" %}' width="60" height="60" alt="whotnews icon">
                    <span class="text-danger" style="font-weight: 800;">AMERICA ELECTION</span>
                </a>
                <div>
                    <img src='{% static "us.png" %}' width="200" height="" alt="ELECTION IS ONGOING">
                    <br>

                </div>
            </nav>

        </div>
        <div class="pt-1 py-1 bg-success">

            <nav class="navbar navbar-expand-md navbar-dark bg-danger">
                <div class=" navbar-text d-flex justify-content-between">
                    <span>welcome {{ user }}</span>
                    <a class=" nav-link" href="/logout">Logout</a>
                </div>
            </nav>
        </div>
    </header>

    <div class='container-fluid'>
        <div class=' justify-content-center'>
            <main class= style="background-color: rgb(13, 29, 173);">
                <div class="row justify-content-center">
                    <div class="col-4 bg-light d-flex justify-content-center align-items-center" style="flex-direction: column;">
                        <h1  {% if l.0 > l.1 %} class="text-success text-center" {% else %} class="text-danger text-center"{% endif %}>{{ l.0 }} votes</h1>
                        <img class="row " src='{% static "trump.jpg" %}'  width="200" height="300" >
                        {% if allow %}
                        <form class="col-12" method="post">
                            {% csrf_token %}
                            <button class="btn btn-danger " type="submit" name="trump">DONALD TRUMP</button>
                        </form>
                        {% else %}
                            {% if choice.vote == 'Donald Trump' %}
                            <h1 class=" text-success">VOTED </h1>
                            {% else %}
                            <h1 class=" text-center text-danger"> ----- </h1>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <span class=" text-light" style="font-size:100px; font-weight:900">vs</span>
                    </div>
                    <div class="col-4 bg-light d-flex justify-content-center align-items-center" style="flex-direction: column;">
                        <h1  {% if l.0 < l.1 %} class="text-success text-center" {% else %} class="text-danger text-center"{% endif %}>{{ l.1 }} votes</h1>
                        <img class="row" src='{% static "biden.jpg" %}'  width="200" height="300" >
                        {% if allow %}
                        <form class="col-12" method="post">
                            {% csrf_token %}
                            <button class="btn btn-danger " type="submit" name="trump">DONALD TRUMP</button>
                        </form>
                        {% else %}
                            {% if choice.vote == 'Joe Biden' %}
                            <h1 class=" text-success">VOTED </h1>{{ choice }}
                            {% else %}
                            <h1 class=" text-center text-danger"> ----- </h1>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div>
                    <p>
instruction
                    </p>
                </div>
                <div>
                    <div class="row">
                        <div class="col-4" style="font-size: medium;">
                            <p class=" m-3" style="font-weight: 700;">FIRST NAME:</p>
                            <p class=" m-3" style="font-weight: 700;">LAST NAME:</p>
                            <p class=" m-3" style="font-weight: 700;">AGE:</p>
                            <p class=" m-3" style="font-weight: 700;">EMAIL:</p>
                            <p class=" m-3" style="font-weight: 700;">VOTED FOR :</p>
                            <p class=" m-3" style="font-weight: 700;"></p>
                        </div>
                        <div class="col-4 bg-light" style="font-size: medium;">
                            <p class=" m-3" style="font-weight: 700;">{{ user.first_name }}</p>
                            <p class=" m-3" style="font-weight: 700;">{{ user.last_name }}</p>
                            <p class=" m-3" style="font-weight: 700;">{{ user.voter.birthday }}</p>
                            <p class=" m-3" style="font-weight: 700;">{{ user.email }}</p>
                            <p class=" m-3" style="font-weight: 700;">{{ choice }}</p>
                            <p class=" m-3" style="font-weight: 700;"></p>
                        </div>
                    </div>
                </div>


            </main>

        </div>
    </div>
    <!-- page container ends -->
    <!-- Bootstrap CSS -->
    <br>
    <br>
    <br>
    <footer class='bg-danger'>

        <nav class="navbar navbar-expand navbar-dark bg-dark fixed-bottom ">
            <span class="bg=light">quadratoms 2020</span>
          </nav>

    </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src='{% static "jquery.js" %}'></script>
    <script src='{% static "proper.js" %}'></script>
    <script src='{% static "hello.js" %}'></script>
</body>

</html>